#focus,span{
    display: block;
}
div{
    width: 400px;
    background: pink;
    padding:20px ;
    position: relative;
    margin-top: 15px;
    height: 300px;
}
h1{
    display: none;
}
.container{
    background: black;
}
p{
    color: brown;
}